@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-class{
    background-image: url(../../public/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    border-radius: 50px 50px 0px 0px;
}